engine-strict=true
link-workspace-packages=deep
auto-install-peers=true
strict-peer-dependencies=false
# In order to cache Prisma correctly
public-hoist-pattern[]=*prisma*
# To fix eslint (https://github.com/pnpm/pnpm/issues/4741)
node-linker=hoisted