engine-strict=true
link-workspace-packages=deep
auto-install-peers=true
strict-peer-dependencies=false
# In order to cache Prisma correctly
public-hoist-pattern[]=*prisma*
# In order to ESLint to work correctly
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*