@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

html,
body,
#widget {
  height: 100%;
}

body,
h1,
p {
  margin: 0;
}

.bg-green {
  background-color: #00ff00;
}
